html {
    /* font-family: 'calibri'; */

    font-family: "Source Sans Pro", Roboto, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    line-height: 2rem;
    box-sizing: border-box;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h1 {
    line-height: calc(1rem + 4vw);
}
